<div class="container mt-3" *ngIf="annonces" >
    <div class="row">
        <div class="card mb-3 m-1 col-md-3" *ngFor="let an of annonces">
            <h3 class="card-header">Annonces</h3>
            <div class="card-body">
              <h5 class="card-title">Annonce {{an.idAnnounce}}</h5>
              <h6 class="card-subtitle text-muted">{{an.typeAnnounce}}</h6>
            </div>
            <img style="height: 100%; width: 100%;" src="{{an.image}}">
            <div class="card-body">
              <p class="card-text">Description: {{an.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Date de mise en ligne: {{an.date | date : 'MMM d, y'}}</li>
              <li class="list-group-item">Date Debut: {{an.startDate | date : 'MMM d, y'}}</li>
              <li class="list-group-item">Date Fin: {{an.endDate | date : 'MMM d, y'}}</li>
              <li class="list-group-item">Prix:{{an.price}}</li>
            </ul>
            <div class="card-body">
              <!-- <a href="#" class="card-link">User</a>  -->
              <button class="btn btn-success" (click)="detailReservation(an)">Reserver</button>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
    </div>
</div>
